<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="estilos.css" type="text/css" />
		<script language="javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script language="javascript">
			openurl = function(){};

			$(document).ready(function()
			{
				$.getJSON("/get_drive_auth", function(respuesta)
				{
					openurl = function()
					{
						window.open(respuesta.url, '_blank', 'width=800,height=800'); return false;
					}

					$(".spinner").remove();
					$("#izda").css("display", "block");
					$("#dcha").css("display", "block");
				});

				$("#formulario").submit(function(e)
				{
					var postData = $(this).serializeArray();
					var formURL = $(this).attr("action");
					$.ajax(
					{
						url : formURL,
						type: "POST",
						data : postData,
						success: function(data, textStatus, jqXHR)
						{
							$("#dcha").html(
							"<span style=\"position: relative; top: 45%;font-size: 90px; color: #76FF03;\">&#x2714;</span>"
							);
						},
						error: function(jqXHR, textStatus, errorThrown)
						{
							$("#dcha").html(
							"<span style=\"position: relative; top: 45%;font-size: 90px; color: #FFAB00;\">&#x26a0;</span>"
							);
						}
					});

					e.preventDefault();

					return false;
				});
			});
		</script>
	</head>
	<body>
		<div class="spinner"></div>
		<div id="izda" style="display:none;">
			<img src="http://upload.wikimedia.org/wikipedia/commons/9/9b/Logo_of_Google_Drive.png" alt="Drive logo" />
			<ul class="lista">
				<li><a href="/">Subida autom&aacute;tica</a></li>
				<li><a href="/list">Listado</a></li>
				<li><a href="/driveupload">Subir a Drive</a></li>
				<li><a href="/drivelist">Listado de Drive</a></li>
				<li><a href="/dropboxupload">Subir a Dropbox</a></li>
				<li><a href="/dropboxlist">Listado de Dropbox</a></li>
				<li><a href="/driveconfig">Configurar Drive (solo la primera vez)</a></li>
				<li><a href="/dropboxconfig">Configurar Dropbox (solo la primera vez)</a></li>
			</ul>
		</div>
		<div id="dcha" style="display:none;">
			<form id="formulario" action="save_drive_auth" method="post">
				<input type="button" id="enlace" value="Pulsa aqu&iacute; e introduce el código abajo." onclick="openurl()"/>
				<input type="text" name="authcode">
				<input type="submit" value="Enviar">
			</form>
		</div>
		<div id="footer"></div>
	</body>
</html>
